<% if flash[:errors].present? %>
  <div class="alert alert-warning fade show" role="alert">
    <%= flash[:errors].join('<hr />').html_safe %>

    <button type="button" class="close ml-3" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if flash[:success].present? %>
  <div class="alert alert-success fade show" role="alert">
    <%= flash[:success] %>

    <button type="button" class="close ml-3" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
