<div class="row">
  <div class="col-sm-4">
    <div class="card mb-2">
      <div class="card-body">
        <div class="h5">Fuel Calculator</div>

        <p><%= @ship.computers.fuel_calculator.name %></p>

        <p><%= @ship.computers.fuel_calculator.description %></p>

        <button class="btn btn-outline-primary">
          Change
        </button>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card mb-2">
      <div class="card-body">
        <div class="h5">Defence Computer</div>

        <p>Basic Defence Computer by Space Inc.</p>

        <p>A trusty but basic hull and shield computer.</p>

        <button class="btn btn-outline-primary">
          Change
        </button>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card mb-2">
      <div class="card-body">
        <div class="h5">Weapons Computer</div>

        <p>Basic Weapons Computer by Space Inc.</p>

        <p>A relic from the early wars.</p>

        <button class="btn btn-outline-primary">
          Change
        </button>
      </div>
    </div>
  </div>
</div>
