<%= render 'ships/shared/header' %>

<div class="row mb-3">
  <div class="col-sm-4">
    <div class="card mb-2 shadow-sm">
      <div class="card-body">
        <div class="h5">Fuel Calculator</div>

        <p><%= @ship.computers.fuel_calculator.name %></p>

        <p><%= @ship.computers.fuel_calculator.description %></p>

        <div class="text-right">
          <button class="btn btn-outline-primary">
            Configure
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card mb-2 shadow-sm">
      <div class="card-body">
        <div class="h5">Defence Computer</div>

        <p>Basic Defence Computer by Space Inc.</p>

        <p>A trusty but basic hull and shield computer.</p>

        <div class="text-right">
          <button class="btn btn-outline-primary">
            Configure
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card mb-2 shadow-sm">
      <div class="card-body">
        <div class="h5">Weapons Computer</div>

        <p>Basic Weapons Computer by Space Inc.</p>

        <p>A relic from the early wars.</p>

        <div class="text-right">
          <button class="btn btn-outline-primary">
            Configure
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card mb-2 shadow-sm" style="border-style: dashed;">
      <div class="card-body text-center text-muted">
        <div class="h5">Computer slot #4</div>

        <p>Add another computer here.</p>

        <div class="mt-3">
          <button class="btn btn-outline-secondary">
            Add another computer
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card mb-2 shadow-sm" style="border-style: dashed;">
      <div class="card-body text-center text-muted">
        <div class="h5">Computer slot #5</div>

        <p>Add another computer here.</p>

        <div class="mt-3">
          <button class="btn btn-outline-secondary">
            Add another computer
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card mb-2 shadow-sm" style="border-style: dashed;">
      <div class="card-body text-center text-muted">
        <div class="h5">Computer slot #6</div>

        <p>Add another computer here.</p>

        <div class="mt-3">
          <button class="btn btn-outline-secondary">
            Add another computer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
