<%= render 'ships/shared/header' %>

<div class="row">
  <div class="col-md-6 col-lg-4 mb-4">
    <div class="h-100 border rounded position-relative d-flex flex-column justify-content-between p-4">
      <div class="position-absolute text-center" style="bottom: -.7em; left: 0; width: 100%;">
        <small class="bg-light p-2" style="color: #bbb;">ShipStat by Space Inc</small>
      </div>

      <div>
        <small class="text-uppercase" style="color: #777;">Ship statistics computer</small>

        <div class="h5 my-3 d-flex">ShipStat by Space Inc <span class="badge badge-dark ml-auto">v0.1</span></div>

        <p>Ship statistics computer that keeps your informed of the health of your ship.</p>
      </div>

      <div class="text-right">
        <button class="btn btn-outline-primary">
          Configure
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4 mb-4">
    <div class="h-100 border rounded position-relative d-flex flex-column justify-content-between p-4">
      <div class="position-absolute text-center" style="bottom: -.7em; left: 0; width: 100%;">
        <small class="bg-light p-2" style="color: #bbb;">BasicFlight by Space Inc</small>
      </div>

      <div>
        <small class="text-uppercase" style="color: #777;">Ship flight computer</small>

        <div class="h5 my-3 d-flex">BasicFlight by Space Inc <span class="badge badge-dark ml-auto">v0.1</span></div>

        <p>A basic flight computer that includes an inefficient fuel calculator, single destination path planner and location information.</p>
      </div>

      <div class="text-right">
        <button class="btn btn-outline-primary">
          Configure
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4 mb-4">
    <div class="h-100 border rounded position-relative d-flex flex-column justify-content-between p-4">
      <div class="position-absolute text-center" style="bottom: -.7em; left: 0; width: 100%;">
        <small class="bg-light p-2" style="color: #bbb;">BattleTech by Space Inc</small>
      </div>

      <div>
        <small class="text-uppercase" style="color: #777;">Battle computer</small>

        <div class="h5 my-3 d-flex">BattleTech by Space Inc <span class="badge badge-dark ml-auto">v0.1</span></div>

        <p>A relic from the early wars. A basic but trusty hull and shield computer. Less than ideal weapons automation.</p>
      </div>

      <div class="text-right">
        <button class="btn btn-outline-primary">
          Configure
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4 mb-4">
    <div class="h-100 border rounded position-relative d-flex flex-column justify-content-between p-4">
      <div class="position-absolute text-center" style="bottom: -.7em; left: 0; width: 100%;">
        <small class="bg-light p-2" style="color: #bbb;">Securitron by Space Inc</small>
      </div>

      <div>
        <small class="text-uppercase" style="color: #777;">Security computer</small>

        <div class="h5 my-3 d-flex">Securitron by Space Inc <span class="badge badge-dark ml-auto">v0.1</span></div>

        <p>Security software for protecting against pirates and raids.</p>
      </div>

      <div class="text-right">
        <button class="btn btn-outline-primary">
          Configure
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4 mb-4">
    <div class="h-100 border rounded position-relative d-flex flex-column justify-content-between p-4" style="border-style: dashed !important;">
      <div class="text-muted">
        <small class="text-uppercase" style="color: #777;">Computer slot #5</small>

        <div class="my-4">Add another computer here.</div>
      </div>

      <div class="text-right">
        <button class="btn btn-outline-secondary">
          Add another computer
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4 mb-4">
    <div class="h-100 border rounded d-flex flex-column justify-content-between p-4" style="border-style: dashed !important;">
      <div class="text-muted">
        <small class="text-uppercase" style="color: #777;">Computer slot #6</small>

        <div class="my-4">Add another computer here.</div>
      </div>

      <div class="text-right">
        <button class="btn btn-outline-secondary">
          Add another computer
        </button>
      </div>
    </div>
  </div>
</div>
